<!-- MODAL HEADER -->
<div class="modal-header">
    <h4 class="modal-title text-primary">Change Password</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body ">
    <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Old password*</label>
            <input type="password" class="form-control" formControlName="oldPassword">
            <small class="text-danger" *ngIf="changePasswordForm.get('oldPassword').invalid && changePasswordForm.get('oldPassword').touched">Please
                enter
                a
                valid email address</small>
        </div>

        <div class="form-group">
            <label>New password*</label>
            <input type="password" class="form-control" formControlName="newPassword">
            <small class="text-danger"
                *ngIf="changePasswordForm.get('newPassword').invalid && changePasswordForm.get('newPassword').touched">Please
                enter
                a password</small>
        </div>

        <div class="form-group">
            <label>Cofirm password*</label>
            <input type="text" class="form-control" formControlName="confirmPassword">
            <small class="text-danger"
                *ngIf="changePasswordForm.get('confirmPassword').invalid && changePasswordForm.get('confirmPassword').touched">Please
                enter
                a password</small>
        </div>

        <button type="submit" class="btn btn-outline-primary float-right" [disabled]="changePasswordForm.invalid">Login</button>

    </form>
</div>


<!-- MODAL FOOTER -->
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
</div>